body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

#status {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
  color: black;
  font-size: 11px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ccc;
  width: 100%;
  margin-top: 15px;
}

td {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}

th {
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #f0f0f0;
}

table, td, th {
  vertical-align: top;
}
